/* Large Screens(greater than or equal to 1440px) */

@media screen and(min-width: 1440px){


  #hero,
  #firstSection,
  #secondSection,
  #footer-wrapper{
    max-width: 1300px;
  }

.biography{
  
  width: 100%;
}

.bio-image{

  width: 200px;
  height: 300px;

}
.img-wrapper {
  width: 1300px;
   left: 0;
  top: 0;
  padding-right: 10px;
}

  .immersive{
    text-align: center;
  }
}