* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: arial;
}


#hero {
  width: 100%;
  min-height: 300px;
  background-image: url(./images/desktop/image-hero.jpg);

  background-size: 100% 100%;
  background-repeat: no-repeat;

  color: white;
}

#hero-wrapper {
  width: 80%;
  margin: auto;
}

.logo {
  float: left;
  width: 20%;
  min-height: 50px;
  line-height: 50px;
  background-image: url(./images/logo.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.navbar {
  float: right;
  width: 30%;
  min-height: 50px;
  line-height: 50px;
  display: flex;
  gap: 40px;
}

.immersive {
  width: 400px;
  padding: 40px;
  border: 1px solid white;
  margin-top: 20px;
  margin-bottom: 20px;
}

#img-biography {
  color: back;
  height: 100%;
  display: block;
}

.bio-image{

  width: 600px;
  height: 300px;
}

.clearfix::after {
  content: " ";
  display: block;
  clear: both;
}

.img-wrapper {
  position: relative;
  width: 300px;
}

.biography {
  position: absolute;
  max-width: 600px;
  padding: 77px;
  left: 600px;
  top: 500px;
  background-color: white;
}

#firstSection {
  width: 80%;
  margin: auto;
  height: 100%;
  margin-bottom: 100px;
  margin-top: 100px;
}

#secondSection {
  width: 80%;
  margin: auto;
  height: 100%;
}

#second-header {
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
  padding-right: 10px;
  padding-right: 10px;
}

.see-all {
  background-color: black;
  color: white;
  padding: 10px 40px;
}

#grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.box-one:hover {
  filter: blur(4x) grayscale(100%) brightness(1.2);
}

.box-one,
.box-two,
.box-three,
.box-four,
.box-five,
.box-six,
.box-seven,
.box-eight {
  height: 400px;
  padding: 20px;
  text-align: center;
  position: relative;
  color: white;
}

.box-one:hover {
  opacity: 0.6; 
}

.box-two:hover {
  opacity: 0.6;
  color: black;
}

.box-three:hover {
  opacity: 0.6;
  color: black;
}

.box-four:hover {
  opacity: 0.6;
  color: black;
}

.box-five:hover {
  opacity: 0.6;
}

.box-six:hover {
  opacity: 0.6;
}

.box-seven:hover {
  opacity: 0.6;
  color: black;
}

.box-eight:hover {
  opacity: 0.6;
  color: black;
}
.box-one p,
.box-two p,
.box-three p,
.box-four p,
.box-five p,
.box-six p,
.box-seven p,
.box-eight p {
  position: absolute;
  top: 350px;
  text-transform: uppercase;
  width: 85px;
}

.box-four p {
  width: 60px;
}

.box-one {
  background-image: url(./images/desktop/image-deep-earth.jpg);
  background-position: contain;
  background-repeat: no-repeat;
}

.box-two {
  background-image: url(./images/desktop/image-night-arcade.jpg);
  background-position: contain;
  background-repeat: no-repeat;
}

.box-three {
  background-image: url(./images/desktop/image-soccer-team.jpg);
  background-position: contain;
  background-repeat: no-repeat;
}

.box-four {
  background-image: url(./images/desktop/image-grid.jpg);
  background-position: contain;
  background-repeat: no-repeat;
}

.box-five {
  background-image: url(./images/desktop/image-from-above.jpg);
  background-position: contain;
  background-repeat: no-repeat;
}

.box-six {
  background-image: url(./images/desktop/image-pocket-borealis.jpg);
  background-position: contain;
  background-repeat: no-repeat;
}

.box-seven {
  background-image: url(./images/desktop/image-curiosity.jpg);
  background-position: contain;
  background-repeat: no-repeat;
}

.box-eight {
  background-image: url(./images/desktop/image-fisheye.jpg);
  background-position: contain;
  background-repeat: no-repeat;
}

footer {
  background-color: black;
  margin-top: 100px;
  color: gray;
  padding-top: 20px;
}

#footer-wrapper {
  width: 80%;
  margin: auto;
  padding-right: 10px;
  padding-left: 10px;
}

#footer-logo-nav {
  float: left;
  width: 40%;
}

#icon-copyright {
  display: block;
  float: right;
  width: 25%;
}
.copyright {
  right: 0;
}

.footer-logo {
  height: 50px;
  background-image: url(./images/logo.svg);
  background-position: contain;
  background-repeat: no-repeat;
}

.footer-navbar {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 20px;
}

.icon {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 20px;
  height: 50px;
}
